### ESMA 4016
### Reglas de Asociacion
### Edgar Acuna

In [26]:
import pandas as pd
from mlxtend.preprocessing import OnehotTransactions
from mlxtend.frequent_patterns import apriori, association_rules


dataset = [["a1","a3","a4"],
           ["a2","a3","a5"],
           ["a1","a2","a3","a5"],
           ["a2","a5"]]

te = OnehotTransactions()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
frequent_itemsets = apriori(df, min_support=0.5, use_colnames=True)

frequent_itemsets

   support      itemsets
0     0.50          [a1]
1     0.75          [a2]
2     0.75          [a3]
3     0.75          [a5]
4     0.50      [a1, a3]
5     0.50      [a2, a3]
6     0.75      [a2, a5]
7     0.50      [a3, a5]
8     0.50  [a2, a3, a5]

In [27]:
association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

,antecedants,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(a2),(a5),0.75,0.75,0.75,1.0,1.333333,0.1875,inf
1,(a5),(a2),0.75,0.75,0.75,1.0,1.333333,0.1875,inf
2,(a1),(a3),0.50,0.75,0.50,1.0,1.333333,0.1250,inf
3,"(a3, a2)",(a5),0.50,0.75,0.50,1.0,1.333333,0.1250,inf
4,"(a3, a5)",(a2),0.50,0.75,0.50,1.0,1.333333,0.1250,inf